# Fixing https://github.com/opacam/Cohen3/pull/44
git+https://github.com/opacam/Cohen3.git

# For https://github.com/lobocv/eventdispatcher/commit/b238ee18fa511c54090c21c7801564edd0dd95ef#diff-3e88a25682c0094a8dfc3cabbaa05dcb to fix clock issue
# And https://github.com/lobocv/eventdispatcher/pull/3 for 3.10+
# The < 1.9.5 is because of https://github.com/lobocv/eventdispatcher/issues/2
git+https://github.com/code8buster/eventdispatcher.git@py3-fixup

pre-commit

# Need https://github.com/twisted/axiom/pull/119 for Python 3 support
git+https://github.com/twisted/axiom.git

netifaces
twisted
tagpy

pytest
pytest-cov
pytest-watch
pytest-vcr
pytest-twisted
