Cohen >= 0.7.4

# For https://github.com/lobocv/eventdispatcher/commit/b238ee18fa511c54090c21c7801564edd0dd95ef#diff-3e88a25682c0094a8dfc3cabbaa05dcb to fix clock issue
# The < 1.9.5 is because of https://github.com/lobocv/eventdispatcher/issues/2
eventdispatcher >= 1.9.0,<1.9.5

pip-tools

axiom
tagpy
netifaces
twisted < 15

# Because last release is very broken. See https://github.com/inducer/tagpy/issues/5
-e git+https://github.com/inducer/tagpy.git#egg=tagpy