cohen3

# For https://github.com/lobocv/eventdispatcher/commit/b238ee18fa511c54090c21c7801564edd0dd95ef#diff-3e88a25682c0094a8dfc3cabbaa05dcb to fix clock issue
# The < 1.9.5 is because of https://github.com/lobocv/eventdispatcher/issues/2
eventdispatcher >= 1.9.0,<1.9.5

pip-tools
pre-commit

# Need https://github.com/twisted/axiom/pull/119 for Python 3 support
git+https://github.com/twisted/axiom.git@f0fce994f894b0aa767daa392ac0a4ce9dbf9717#egg=axiom

netifaces
twisted
tagpy
